<div id="<%= dom_id verify_code %>">
  <p>
    <strong>Code:</strong>
    <%= verify_code.code %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= verify_code.mobile %>
  </p>

  <p>
    <strong>Is success:</strong>
    <%= verify_code.is_success %>
  </p>

  <p>
    <strong>Res json:</strong>
    <%= verify_code.res_json %>
  </p>

</div>
