


<div class="card  card-md">
  <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs">
    <li class="nav-item">
      <a href="#tabs-email" class="nav-link active" data-bs-toggle="tab">Email</a>
    </li>
    <li class="nav-item">
      <a href="#tabs-mobile" class="nav-link " data-bs-toggle="tab">Mobile</a>
    </li>
  </ul>

  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active" id="tabs-email">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="md-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      
        <div class="form-footer">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary w-100' %>
        </div>
      <% end %>
      </div>
      <div class="tab-pane" id="tabs-mobile">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        
        <%# <%= f.hidden_field :reset_password_token %>
        <%= f.hidden_field :is_verify_code, value: true %>

        <div class="mb-3">
          <%= f.label :mobile, class: 'form-label' %>
          <%= f.telephone_field :mobile, autofocus: true, autocomplete: "mobile", class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label 'Verify Code', class: 'form-label' %>
          <div class="input-group mb-2">
            <%= f.text_field :verify_code, autofocus: true, autocomplete: "email", class: 'form-control' %>
            <%= button_to "Send", {method: :post, remote: true}, {class: 'btn'} %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :password %>
          <%= render "users/shared/password_input", form: f, password_field: :password %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation %><br />
          <%= render "users/shared/password_input", form: f, password_field: :password_confirmation %>
        </div>

        <div class="form-footer">
          <%= f.submit "Change my password", class: 'btn btn-primary w-100' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="text-center text-muted mt-3">
  <%= link_to "Sign in", new_session_path(resource_name) %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
</div>



