<!DOCTYPE html>
<html class="h-full ">
  <head>
    <title>RailsBase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# 
    <link href="//cdn.jsdelivr.net/npm/daisyui@2.11.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.tailwindcss.com"></script> 
    %>

    <link href="//cdn.jsdelivr.net/npm/daisyui@2.11.0/dist/full.css" rel="stylesheet" type="text/css" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %> %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%# <main class="md:container md:max-auto"> %>
      <%= yield %>
    <%# </main> %>
  </body>
</html>
